# Ignorar entorno virtual
.venv/

# Ignorar archivos de configuración de entorno (SECRETOS)
.env

# Ignorar archivos compilados de Python (basura automática)
__pycache__/
*.pyc

# Ignorar configuraciones de VS Code (opcional, pero recomendado)
.vscode/

# PyInstaller
*.spec
build/
dist/
__pycache__/